Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [5]:
def sym(n):
    n=str(n)
    n1=n[::-1]
    if n1==n:
        return True
    else:
        return False

In [6]:
sym(121)

True

In [7]:
sym(1341)

False

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

In [12]:
def product(s):
    l=s.split(',')
    l=[int(i) for i in l]
    p=1
    for i in l:
        p=p*i
    return p

In [13]:
product("1, 2, 3, 4")

24

In [14]:
product("10,-2")

-20


Question 3
Create a function that squares every digit of a number.

In [21]:
def squares(n):
    n=str(n)
    l=[int(i) for i in n]
    s=""
    for i in l:
        s=s+str((i**2))
    return int(s)

In [22]:
squares(9119)

811181

Question 4
Create a function that sorts a list and removes all duplicate items from it

In [34]:
def sortdu(l):
    l.sort()
    s1=set(l)
    l1=list(s1)
    return l1

In [35]:
sortdu([1, 3, 3, 5, 5])

[1, 3, 5]

In [36]:
sortdu([4, 4, 4, 4])

[4]

Question 5
Create a function that returns the mean of all digits.

In [39]:
def mean(s):
    
    s=str(s)
    l=len(s)
    l1=[int(i) for i in s]
    sum=0
    for i in l1:
        sum=sum+i
    return (sum/l)

In [41]:
mean(12345)

3.0